h1 {
  font-size: 3rem !important;
}
.arrow {
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 15px;
}
.down {
  transition: 0.5s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#p:hover {
  color: #ffd700;
}
#aboutp{
  font-size: 1rem;
}
.HTML{
  height: 5rem;
}
.btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 4px 24px;
  font-size: 16px;
  cursor: pointer;
}
a{
  color: black;
}
a:hover{
  color: #ffd700;
}
.btn:hover {
  border: 2px solid #ffd700;
  background-color: white;
  color: #ffd700;
}
.socialicons {
  padding: 6px;
  color: black;
  font-size: 1.25rem;
}

.socialicons:hover {
  color: #ffd700;
}
