@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.homepage{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
section{
  width: 100%;
  height: 100vh;
}
.App{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1{
  font-size: 3rem !important;
}

#skill{
  padding-left: 3rem;
}
#aboutp{
  padding-left: 2rem;
  font-size: 1rem;
}
#abouth3{
  padding-left: 2rem;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
}
.down :hover{
  color: #FFD700
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


